<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title></title>
        <script type='text/javascript' src='/static/workData/{{token}}.js'></script>
        <script type='text/javascript' src='/static/firstPage.js'></script>
    </head>
    <body>
        <script>
            window.contentPath = "http://static01.cloud7.com.cn/assets/debea112/content/firstpage2/";
            window.runFirstPage();
        </script>
    </body>
</html>
