<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title></title>
        <script type='text/javascript' src='/static/firstPage.js'></script>
    </head>
    <body>
        <script>
            window.contentPath = "http://static01.cloud7.com.cn/assets/debea112/content/firstpage2/";
            window.workData = { "code": 200, "data": {"thumbnail":null,"title":"单图","description":"每一页,都美若人生初见.","mode":"push","pageSwitch":{"animateId":"default"},"backgroud":{"color":null},"music":{"src":null},"pages":[{"layout":{"name":null,"label":"SingleImage","image":[{"url":"http://img01.cloud7.com.cn/371a9a98071ed29cbd09f3f8d4102e38.jpg","imageinfo":{"x":0,"y":0,"width":320,"height":504,"maskRadius":0.0,"type":"image","borderWidth":0}}],"custom":{"type":"y","animationFirst":"image"}}}],"author":"Mr. Chen","headimgurl":"http://wx.qlogo.cn/mmopen/iajwTFkyW3R5gpRtAia2TkQpVKcBTWFjxjWqP06FIsTILVdzqNECHUQ52lDKevlJxe2nTiaGzaf40HCsFvLibuWtrqAXXnDib8SpA/0","copyright":1,"praise":0,"uid":1499404} };
            window.runFirstPage();
        </script>
    </body>
</html>
